@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css" type="text/css" />
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js"></script>
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>
    <script src="~/js/dataSave.js"></script>
    <script src="~/js/forge.js"></script>
</head>

<body>

<div class="row">
    <div class="col-md-3">
        <div id="ForgeDiv"></div>
    </div>
    <div class="col-md-3">
        <div id="details" class="col-md-3">

    #Element {
        height: 250px;
        width: auto;
        margin: 15px 15px 0px 15px
    }

    #Product {
        height: 200px;
        width: auto;
        margin-top: 25px
    }

    #TechnicInfo {
        height: 165px;
        width: auto;
        margin-top: 25px
    }

    #Size {
        height: 200px;
        width: auto;
        margin-top: 25px
    }

    #Electro {
        height: 165px;
        width: auto;
        margin-top: 25px
    }

    .TypeDetails {
        width: 100%;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

        .TypeDetails tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .TypeDetails tr:hover {
            background-color: #ddd
        }

        .TypeDetails th {
            height: 50px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
            text-align: center
        }

        .TypeDetails td, .TypeDetails th {
            border: 1px solid #ddd;
            padding: 8px;
            word-wrap: break-word
        }
</style>



